@import url(https://fonts.googleapis.com/css?family=Inconsolata:200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script:regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Courier+Prime:regular,italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Cutive+Mono:regular);
@import url(https://fonts.googleapis.com/css?family=Dhurjati:regular);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic);

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* App */
.App{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 60px 1fr;
}

/* App-Nav Component */
.AppNav{
  grid-row: 1/2;
  background-color: lavender;
 
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.AppNav > h1{
  font-family: Dancing Script;
  color: rgba(73, 3, 104, 0.994);
  letter-spacing: 0.04in;
}

/* Start Page */
.StartPage{
  grid-row: 2/3;
  background-color: rgb(61, 52, 80);
  font-family: Courier Prime;
  color: azure;

  display: grid;
  grid-template-rows: 3fr 1fr;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}
.StartPage > main{
  grid-row: 1/2;

  display: grid;
  grid-template-rows: 50px 80px 1fr;
  justify-items: center;
  align-items: center;
  row-gap: 10px;
}
  .StartPage > main > h1{
    grid-row: 1/2;
    font-weight: normal;
    font-size: 25px;
  }
  .StartPage > main > h3{
    grid-row: 2/3;
    width: 50vw;
    font-weight: normal;
    text-align: center;
    line-height: 0.3in;
  }
  .StartPage > main > div{
    grid-row: 3/4;
    margin-top: 40px;
  }
  .StartPage > main > div > #circle{
    padding-top: 50px;
    border: 2px dashed black;
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  .StartPage > main > div > #circle > #house{
    position: relative;
      left: 55px;
      bottom: 90px;
    width: 80px;
  }
  .StartPage > main > div > #circle > #repair{
    position: relative;
      left: 88px;
      bottom: 40px;
    width: 50px;
  }
  .StartPage > main > div > #circle > #rent{
    position: relative;
      right: 5px;
      top: 70px;
    width: 65px;
  }
  .StartPage > main > div > #circle > #doc{
    position: relative;
      left: 10px;
    width: 50px;
  }
  .StartPage > main > div > #circle > #budget{
    position: relative;
      right: 80px;
      bottom: 95px;
    width: 60px;
  }
.StartPage > #buttons{
  grid-row: 2/3;
  width: 60vw;

  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 30px;
  justify-content: center;
}
.StartPage > #buttons > div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 50px;
}
  /* Buttons are disabled until forms are set up */
  .StartPage > #buttons > div > a{
    border: 2px inset orchid;
    border-radius: 10px;
    background-color: rgb(128, 48, 125);
    padding: 5px 10px;
    text-align: center;
    pointer-events: none;
  }
  /* .StartPage > #buttons > div > a:hover{
    cursor: none;
    background-color: orchid;
  } */


/* Home Page */
.HomePage{
  grid-row: 2/3;
  background-color: rgb(61, 52, 80);
  font-family: Courier Prime;
  color: azure;

  display: flex;
  justify-content: center;
}
.HomePage > main{
  width: 80vw;
  padding: 30px 40px;

  display: grid;
  grid-template-rows: 80px 1fr 50px;
  justify-items: center;
  row-gap: 30px;
}
  .HomePage > main > header{
    grid-row: 1/2;
    width: 75vw;
    display: flex;
    align-items: end;
  }
  .HomePage > main > header > h1{
    flex: 1;
    text-decoration: underline;
    text-align: center;
  }
  .HomePage > main > header > a > img{
    width: 50px;
  }
  .HomePage > main > ul{
    grid-row: 2/3;
    align-self: center;
    overflow-y: scroll;
    height: 50vh;
    list-style: none;

    display: grid;
    row-gap: 50px;
  }
  .HomePage > main > ul > li{
    line-height: 0.35in;
    font-size: 18px;
    
    display: grid;
    grid-template-columns: 450px 40px;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
  }
    .HomePage > main > ul > li > a{
      grid-column: 1/2;
    }
    .HomePage > main > ul > li > a:hover{
      color: azure !important;
    }
    .HomePage > main > ul > li > #edit-button{
      grid-column: 2/3;
      font-size: 25px;
    }
    .HomePage > main > ul > li > #edit-button:hover{
      cursor: pointer;
    }
  .HomePage > main > button{
    font-size: 18px;
    background-color: azure;
    padding: 8px 15px;
    border-radius: 4px;
    border: 2px darkslateblue solid;
    color: darkslateblue;
    font-family: Courier Prime;
  }
  .HomePage > main > button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px white;
  }

  /* Pop Up */
  .modal{
    width: 40vw;
    height: 70vh;
    background-color: lavender;
    border-radius: 10px;
    padding: 20px;

    display: grid;
    grid-template-rows: 20px 1fr;
    row-gap: 50px;
  }
  .modal > #close{
    justify-self: end;

    border: 2px lavender solid;
    background-color: lavender;
    color: darkslategray;
    padding: 5px 10px;
    font-size: 20px;
    cursor: pointer;
  }
  .popup-overlay{
    background-color: rgba(60, 59, 59, 0.521);
    pointer-events: none !important;
  }


/* New Prop Component */
.NewProp{
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  gap: 10px;
  justify-items: center;
  color: darkslategray;
  font-family: Courier Prime;
}
.NewProp > h1{
  grid-row: 1/2;
  font-weight: normal;
}
.NewProp > form{
  grid-row: 2/3;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}
  .NewProp > form > #street{
    grid-row: 1/2;
    grid-column: 1/3;
  }
  .NewProp > form > #street > input{
    width: 250px;
  }
  .NewProp > form > #city{
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .NewProp > form > #zip{
    grid-row: 2/3;
    grid-column: 2/3;
  }
    .NewProp > form > #zip > input{
      width: 100px;
    }
  .NewProp > form > #country{
    grid-row: 3/4;
    grid-column: 1/2;
  }
  .NewProp > form > #name{
    grid-row: 3/4;
    grid-column: 2/3;
  }
    .NewProp > form > #name > input{
      width: 100px;
    }
.NewProp > button{
  grid-row: 3/4;
  align-self: end;
  color: darkslategray;
  font-family: Courier Prime;
  font-size: 16px;
  height: 35px;
  padding: 5px 20px;
  border-radius: 10px;
  border: 2px inset darkslategray;
  background-color: white;
  transition: all 300ms ease-in-out;
}
.NewProp > button:hover{
  background-color: darkslategrey;
  color: white;
  cursor: pointer;
}

/* Contacts */
.Contacts{
  grid-row: 2/3;
  background-color: rgb(61, 52, 80);
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.Contacts #book-container{
  background-color: white;
  border: 3px inset lightgray;
  border-radius: 4px;
  height: 80vh;
  width: 35vw;
  padding: 20px;
  font-family: Playfair Display;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
}
.Contacts #plus-sign{
  font-size: 35px;
  font-family: Playfair Display;
  position: relative;
    bottom: 39%;
    left: 31%;
}
.Contacts #book-container h1{
  flex: 1;
  letter-spacing: 0.03in;
}
.Contacts #book-container input{
  flex: 0.5;
  width: 80%;
  border-radius: 8px;
  padding-left: 20px;
  font-size: 15px;
  font-family: Playfair Display;
}
.Contacts #book-container #contacts-container{
  flex: 10;
  width: 90%;
  margin-top: 5px;
  overflow: scroll;

  display: flex;
  flex-direction: column;
  column-gap: 10px;
}


/* Contact Item Component */
.ContactItem{
  border-bottom: 2px rgb(104, 100, 100) double;
  height: 60px;
  padding: 5px 20px;

  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.ContactItem div{
  flex: 1;
  display: flex;
}
  .ContactItem div p{
    flex: 1.8;
  }
  .ContactItem div span{
    flex: 1;
  }
.ContactItem p{
  flex: 1;
}
  .ContactItem p span{
    font-style: italic;
  }


/* Dashboard */
.Dashboard{
  grid-row: 2/3;
  background-color: rgb(61, 52, 80);
  padding: 20px 50px;

  display: grid;
  grid-template-rows: 20px 40px 1fr;
  row-gap: 15px;
}
.Dashboard > header{
  grid-row: 1/2;
  font-size: 18px;
  font-family: Cutive Mono;
  color: beige;

  display: flex;
  justify-content: space-between;
}
  .Dashboard > header > #return-button:hover{
    text-decoration: underline !important;
  }
  .Dashboard > header > #settings{
    display: flex;
    align-items: center;
    column-gap: 5px;
  }
  .Dashboard > header > #settings:hover{
    cursor: pointer;
  }
    .Dashboard > header > #settings > img{
      width: 20px;
    }

  /* Delete Pop Up */
  #menu > #delete:hover{
    cursor: pointer;
  }
  .DeletePrompt{
    width: 40vw;
    height: 35vh;
    background-color: lavender;
    border-radius: 10px;
    border: 2px inset lightslategray;
    padding: 20px;
    font-family: Cutive Mono;
  
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 30px;
    justify-items: center;
  }
    .DeletePrompt > h1{
      font-size: 25px;
      text-align: center;
    }
    .DeletePrompt > h2{
      font-size: 20px;
      text-align: center;
      font-style: italic;
      color: darkred;
    }
    .DeletePrompt > div{
      width: 30vw;
      display: flex;
      justify-content: space-around;
    }
    .DeletePrompt > div > button{
      color: black;
      font-weight: bold;
      font-family: Courier Prime;
      font-size: 16px;
      height: 35px;
      padding: 5px 20px;
      border-radius: 10px;
      border: 2px inset black;
      background-color: white;
      transition: all 300ms ease-in-out;
    }
    .DeletePrompt > div > button:hover{
      cursor: pointer;
      color: white;
    }
    .DeletePrompt > div > #yes-button:hover{
      background-color: red;
      border: 2px inset red;
    }
    .DeletePrompt > div > #no-button:hover{
      background-color: darkslategray;
      border: 2px inset darkslategray;
    }

.Dashboard > nav{
  grid-row: 2/3;
  font-family: Cutive Mono;

  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 22px;
}
  .Dashboard > nav > .slash{
    color: azure;
    font-size: 25px;
  }
  .Dashboard > nav > a{
    text-transform: uppercase;
    font-size: 18px;
  }

  /* Dash-Home Component */
  .DashHome{
    grid-row: 3/4;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    row-gap: 40px;
  }
  .DashHome > img{
    flex: 4;
    width: 350px;
    border-radius: 20px;
    border: 2px inset salmon;
    background-color: rgba(248, 168, 159, 0.404);
  }
  .DashHome > h2{
    flex: 2;
    color: pink;
    font-family: Cutive Mono;
  }

  /* Services Component */
  .Services{
    grid-row: 3/4;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
  .Services button{
    font-family: Cutive Mono;
    font-size: 20px;
    text-transform: uppercase;
    padding: 5px 10px;
    border: 2px black ridge;
    border-radius: 10px;
  }
  .Services button:hover{
    cursor: pointer;
  }
  .Services #tickets-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 360px 360px;
    gap: 10px 20px;
    width: 100%;
    height: 60vh;
    overflow: scroll;
  }
  .modal-Reqs{
    width: 30vw;
    height: 75vh;
  }

  /* New Req Component */
  .NewReq{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;

    color: darkslategray;
    font-family: Courier Prime;
  }
  .NewReq form{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .NewReq form input{
    font-family: Courier Prime;
    overflow: scroll;
  }
  .NewReq form #description{
    display: flex;
    align-items: center;
  }
  .NewReq button{
    color: darkslategray;
    font-family: Courier Prime;
    font-size: 16px;
    height: 35px;
    padding: 5px 20px;
    border-radius: 10px;
    border: 2px inset darkslategray;
    background-color: white;
    transition: all 300ms ease-in-out;
  }
  .NewReq button:hover{
    background-color: darkslategrey;
    color: white;
    cursor: pointer;
  }

  /* Tickets Component */
  .Tickets{
    font-family: Dhurjati;
    border: 2px solid black;
    padding: 10px;
    width: 100%;
    justify-self: center;

    display: grid;
    grid-template-rows: 1fr 4fr;
    row-gap: 5px;
  }
  .Tickets > nav{
    grid-row: 1/2;
    display: flex;
    line-height: 0.3in;
    border-bottom: 2px dashed black;
    padding: 0px 5px;
  }
    .Tickets > nav > h1{
      flex: 1;
    }
      .Tickets nav h1 div{
        font-size: 18px;
      }
    .Tickets > nav > h2{
      flex: 1;
    }
        .Tickets nav h2 div {
          font-size: 18px;
        }
  .Tickets main{
    grid-row: 2/3;
  }
  .Tickets main ul{
    list-style: none;
    font-size: 20px;

    display: flex;
    flex-direction: column;
  }
  .Tickets main ul #list-location #list-source #list-status{
    flex: 1;
  }
  .Tickets main ul #list-description{
    flex: 2;
  }
    .Tickets main ul #list-description p{
      overflow: scroll;
      height: 120px;
      padding-left: 10px;
    }


  /* Docs Component */
  .Docs{
    grid-row: 3/4;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
  .Docs > button{
    font-family: cursive;
    font-size: 15px;
    padding: 5px 10px;
    border: 2px black ridge;
    border-radius: 10px;
  }
  .Docs > button:hover{
    cursor: pointer;
  }
  .Docs > main{
    flex: 100px;
    width: 800px;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    overflow: scroll;
    gap: 20px;
  }
  .modal-Docs{
    width: 30vw;
    height: 50vh;
  }

  /* New Doc Component */
  .NewDoc{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;

    color: darkslategray;
    font-family: Courier Prime;
  }
  .NewDoc > form{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  .NewDoc > form > #url > input{
    width: 250px;
    overflow-x: scroll;
  }
  .NewDoc > button{
    color: darkslategray;
    font-family: Courier Prime;
    font-size: 16px;
    height: 35px;
    padding: 5px 20px;
    border-radius: 10px;
    border: 2px inset darkslategray;
    background-color: white;
    transition: all 300ms ease-in-out;
  }
  .NewDoc > button:hover{
    background-color: darkslategrey;
    color: white;
    cursor: pointer;
  }

  /* Doc Card Component */
  .DocCard{
    width: 180px;
    height: 200px;
    border: 2px solid black;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
  }
  .DocCard > #img-container{
    display: flex;
    justify-content: center;
    background-color: white;
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
  }
  .DocCard > #img-container > a > img{
    width: 120px;
    padding-top: 10px;
  }
  .DocCard > #text{
    display: flex;
    flex-direction: column;
    row-gap: 5px;

    z-index: 1;
    background-color: black;
    height: 100px;
    border-bottom-right-radius: 18px;
    border-bottom-left-radius: 18px;
    position: relative;
      bottom: 33px;
    padding: 10px;
    font-family: Cutive Mono;
    color: white;
  }
  .DocCard > #text > h1{
    flex: 200px;
    align-self: left;
    font-size: 20px;
    overflow-wrap: break-word;
  }
  .DocCard > #text > #actions{
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;
  }
  .DocCard > #text > #actions > img{
    width: 25px;
    border: 0.5px solid white;
    border-radius: 50%;
  }
  .DocCard > #text > #actions > img:hover{
    cursor: pointer;
  }
  .DocCard > #text > p{
    font-size: 10px;
    font-style: italic;
  }

  /* Menu */
  #menu{
    font-family: Cutive Mono;
    color: beige;
    margin-top: 20px;
    display: grid;
    row-gap: 20px;
  }
  #menu > .dropdown{
    border-bottom: 2px double beige;
    padding-bottom: 5px;
  }
