@import url(https://fonts.googleapis.com/css?family=Inconsolata:200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script:regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Courier+Prime:regular,italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Cutive+Mono:regular);

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* App */
.App{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 60px 1fr 50px;
}

/* App-Nav Component */
.AppNav{
  grid-row: 1/2;
  background-color: lavender;
 
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.AppNav > h1{
  font-family: Dancing Script;
  color: rgba(73, 3, 104, 0.994);
  letter-spacing: 0.04in;
}

/* Start Page */
.StartPage{
  grid-row: 2/3;
  background-color: rgb(61, 52, 80);
  font-family: Courier Prime;
  color: azure;
  overflow: scroll;

  display: grid;
  grid-template-rows: 1fr 200px;
  justify-content: center;
  align-items: center;
  gap: 40px 0px;
}
.StartPage > main{
  grid-row: 1/2;
  width: 60vw;
  margin-top: 50px;

  display: grid;
  grid-template-rows: 50px 80px 1fr;
  justify-items: center;
  align-items: center;
  gap: 10px 0px;
}
  .StartPage > main > h1{
    grid-row: 1/2;
    font-weight: normal;
    font-size: 25px;
  }
  .StartPage > main > h3{
    grid-row: 2/3;
    width: 50vw;
    font-weight: normal;
    text-align: center;
    line-height: 0.3in;
  }
  .StartPage > main > div{
    grid-row: 3/4;
    margin-top: 40px;
  }
  .StartPage > main > div > #circle{
    padding-top: 50px;
    border: 2px dashed black;
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  .StartPage > main > div > #circle > #house{
    position: relative;
      left: 55px;
      bottom: 90px;
    width: 80px;
  }
  .StartPage > main > div > #circle > #repair{
    position: relative;
      left: 88px;
      bottom: 40px;
    width: 50px;
  }
  .StartPage > main > div > #circle > #rent{
    position: relative;
      right: 5px;
      top: 70px;
    width: 65px;
  }
  .StartPage > main > div > #circle > #doc{
    position: relative;
      left: 10px;
    width: 50px;
  }
  .StartPage > main > div > #circle > #budget{
    position: relative;
      right: 80px;
      bottom: 95px;
    width: 60px;
  }
.StartPage > #buttons{
  grid-row: 2/3;
  width: 60vw;

  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 40px;
  justify-content: center;
}
.StartPage > #buttons > div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 50px;
}
  /* Buttons are disabled until forms are set up */
  .StartPage > #buttons > div > a{
    border: 2px inset orchid;
    border-radius: 10px;
    background-color: rgb(128, 48, 125);
    padding: 5px 10px;
    text-align: center;
    pointer-events: none;
  }
  /* .StartPage > #buttons > div > a:hover{
    cursor: none;
    background-color: orchid;
  } */


/* Home Page */
.HomePage{
  grid-row: 2/3;
  background-color: rgb(61, 52, 80);
  font-family: Courier Prime;
  color: azure;

  display: flex;
  justify-content: center;
}
.HomePage > main{
  width: 50vw;
  margin: 20px 0px;
  padding: 40px;

  display: grid;
  grid-template-rows: 50px 1fr 50px;
  align-items: end;
  justify-items: center;
  row-gap: 40px;
}
  .HomePage > main > h1{
    grid-row: 1/2;
    text-decoration: underline;
  }
  .HomePage > main > ul{
    grid-row: 2/3;
    align-self: baseline;
    overflow-y: scroll;
    height: 40vh;
    list-style: none;

    display: grid;
    row-gap: 50px;
  }
  .HomePage > main > ul > li{
    line-height: 0.35in;
    font-size: 18px;
    
    display: grid;
    grid-template-columns: 450px 40px;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
  }
    .HomePage > main > ul > li > a{
      grid-column: 1/2;
    }
    .HomePage > main > ul > li > a:hover{
      color: azure !important;
    }
    .HomePage > main > ul > li > #edit-button{
      grid-column: 2/3;
      font-size: 25px;
    }
    .HomePage > main > ul > li > #edit-button:hover{
      cursor: pointer;
    }
  .HomePage > main > button{
    font-size: 18px;
    background-color: azure;
    padding: 8px 15px;
    border-radius: 4px;
    border: 2px darkslateblue solid;
    color: darkslateblue;
    font-family: Courier Prime;
  }
  .HomePage > main > button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px white;
  }

  /* Pop Up */
  .modal{
    width: 40vw;
    height: 70vh;
    background-color: lavender;
    border-radius: 10px;
    padding: 20px;

    display: grid;
    grid-template-rows: 20px 1fr;
    row-gap: 50px;
  }
  .modal > #close{
    justify-self: end;

    border: 2px lavender solid;
    background-color: lavender;
    color: darkslategray;
    padding: 5px 10px;
    font-size: 20px;
    cursor: pointer;
  }
  .popup-overlay{
    background-color: rgba(60, 59, 59, 0.521);
    pointer-events: none !important;
  }


/* New Prop Component */
.NewProp{
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  gap: 10px;
  justify-items: center;
  color: darkslategray;
  font-family: Courier Prime;
}
.NewProp > h1{
  grid-row: 1/2;
  font-weight: normal;
}
.NewProp > form{
  grid-row: 2/3;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}
  .NewProp > form > #street{
    grid-row: 1/2;
    grid-column: 1/3;
  }
  .NewProp > form > #street > input{
    width: 250px;
  }
  .NewProp > form > #city{
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .NewProp > form > #zip{
    grid-row: 2/3;
    grid-column: 2/3;
  }
    .NewProp > form > #zip > input{
      width: 100px;
    }
  .NewProp > form > #country{
    grid-row: 3/4;
    grid-column: 1/2;
  }
  .NewProp > form > #name{
    grid-row: 3/4;
    grid-column: 2/3;
  }
    .NewProp > form > #name > input{
      width: 100px;
    }
.NewProp > button{
  grid-row: 3/4;
  align-self: end;
  color: darkslategray;
  font-family: Courier Prime;
  font-size: 16px;
  height: 35px;
  padding: 5px 20px;
  border-radius: 10px;
  border: 2px inset darkslategray;
  background-color: white;
  transition: all 300ms ease-in-out;
}
.NewProp > button:hover{
  background-color: darkslategrey;
  color: white;
  cursor: pointer;
}


/* Dashboard */
.Dashboard{
  grid-row: 2/3;
  background-color: rgb(61, 52, 80);
  padding: 20px 50px;

  display: grid;
  grid-template-rows: 20px 50px 1fr;
  gap: 10px 0px;
}
.Dashboard > header{
  grid-row: 1/2;
  font-size: 18px;
  font-family: Cutive Mono;
  color: beige;

  display: flex;
  justify-content: space-between;
}
  .Dashboard > header > #return-button:hover{
    text-decoration: underline !important;
  }
  .Dashboard > header > #settings{
    display: flex;
    align-items: center;
    column-gap: 5px;
  }
    .Dashboard > header > #settings > img{
      width: 20px;
    }

  /* Delete Pop Up */
  #menu > #delete:hover{
    cursor: pointer;
  }
  .DeletePrompt{
    width: 40vw;
    height: 35vh;
    background-color: lavender;
    border-radius: 10px;
    border: 2px inset lightslategray;
    padding: 20px;
    font-family: Cutive Mono;
  
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 30px;
    justify-items: center;
  }
    .DeletePrompt > h1{
      font-size: 25px;
      text-align: center;
    }
    .DeletePrompt > h2{
      font-size: 20px;
      text-align: center;
      font-style: italic;
      color: darkred;
    }
    .DeletePrompt > div{
      width: 30vw;
      display: flex;
      justify-content: space-around;
    }
    .DeletePrompt > div > button{
      color: darkslategray;
      font-family: Courier Prime;
      font-size: 16px;
      height: 35px;
      padding: 5px 20px;
      border-radius: 10px;
      border: 2px inset darkslategray;
      background-color: white;
      transition: all 300ms ease-in-out;
    }
    .DeletePrompt > div > button:hover{
      background-color: darkslategrey;
      color: white;
      cursor: pointer;
    }

.Dashboard > nav{
  grid-row: 2/3;
  font-family: Cutive Mono;

  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 22px;
}
  .Dashboard > nav > .slash{
    color: azure;
    font-size: 25px;
  }
  .Dashboard > nav > a{
    text-transform: uppercase;
    font-size: 18px;
  }
.Dashboard > main{
  display: flex;
  justify-content: center;
  align-items: center;
}
  .Dashboard > main > img{
    width: 500px;
    height: 400px;
    border-radius: 20px;
    border: 2px inset salmon;
  }

  /* Menu */
  #menu{
    font-family: Cutive Mono;
    color: beige;
    margin-top: 20px;
    display: grid;
    row-gap: 20px;
  }
  #menu > .dropdown{
    border-bottom: 2px double beige;
    padding-bottom: 5px;
  }

/* App-Footer Component */
.AppFooter{
  grid-row: 3/4;
  background-color: lavender;
  display: grid;
  align-content: center;
  justify-content: center;
}
.AppFooter > p{
  font-family: Inconsolata;
  font-size: 20px;
  letter-spacing: 0.02in;
  color: rgba(73, 3, 104, 0.994);
}
.AppFooter > p > span{
  font-size: 25px;
}
